<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layaout/plantilla :: head">
        <title>Datos de la persona</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="layaout/plantilla :: header"></header>
        <section th:replace="layaout/editarCliente :: editarCliente"></section>
        <footer th:replace="layaout/plantilla :: footer"></footer>
    </body>
</html>
